{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
    <ul class="pagination pagination-sm no-margin">
        {% if first is defined and current != first %}
                <li><a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a></li>
        {% endif %}

        {% if previous is defined %}
                <li><a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a></li>
        {% endif %}

        {% for page in pagesInRange %}
            <li>
            {% if page != current %}
                   <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            {% else %}
                <a href="#">{{ page }}</a>
            {% endif %}
            </li>
        {% endfor %}

        {% if next is defined %}
                <li><a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a></li>
        {% endif %}

        {% if last is defined and current != last %}
                <li><a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a></li>
        {% endif %}
    </ul>
{% endif %}
